<footer class="app-footer">
  <div class="float-end d-none d-sm-inline">EAUT Nest</div>
  <strong>Copyright &copy; 2024-<%= new Date().getFullYear() %> <a href="https://adminlte.io" class="text-decoration-none">EAUT</a></strong>
</footer>
