<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %> | AdminLTE</title>

    <!-- Vendor qua CDN (có thể thay bằng file local nếu bạn đã chép vào /public)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/styles/overlayscrollbars.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css" media="print" onload="this.media='all'"/> -->

    <!-- AdminLTE & custom (LOCAL) -->
    <link rel="stylesheet" href="/public/css/adminlte.min.css" />
    <link rel="stylesheet" href="/public/css/custom.css" />
  </head>
  <body class="login-page bg-body-secondary">
    <%- body %>

    <!-- JS Vendors
    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/browser/overlayscrollbars.browser.es6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script> -->

    <!-- AdminLTE (LOCAL) -->
    <script src="/public/js/adminlte.min.js"></script>
  </body>
</html>
